* {border: 0;
margin: 0;
box-sizing: border-box;
}
body {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
article {
    width: 40%;}
article img {
    width: 100%;
max-width: 1320px;
margin-top: 1rem;}

#icons {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;}
    
 #icons .actionButton {font-size: 1.5rem;
background-color:transparent;
padding: 0;
}
#icons .clickButton {font-size: 1.5rem;
    background-color:transparent;
    padding: 0;
    }

#button {display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.deleteButton {padding: 0.5rem 1rem;
    color: white;
    background-color: black;
}
